h1 {
    color: var(--primary-color);
    font-size: 3rem;
}

.banner {
    color: var(--text-light);
    padding: 3.5rem;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:  auto;
    width: 45%;
    gap: 1rem;
}