.recipeCard {
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(33, 54, 91, 0.24);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    height: 325px;
    width: 205px;
    overflow: hidden;
}

.recipeCard img {
    height: 225px;
    width: 205px;
    object-fit: cover;
}

.recipeCard p {
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 175px;
}

.recipeCard button {
   margin-top: 1rem;
}