/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

* {
	box-sizing: border-box;
}

:root {
	--text-light: #fff;
	--primary-color: rgb(248, 130, 20);
	--accent: rgb(78, 131, 131);
}

.blueBtn {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 20px rgba(65, 35, 3, 0.24);
    color: var(--text-light);
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease-in-out;
	width: fit-content;
}

.blueBtn:hover {
    color: var(--accent);
    cursor: pointer;
    background-color: rgba(170, 243, 243, 0.941);
    transform: scale(1.1);
}

.contentBody {
    padding: 0 10rem 2rem 10rem;
}

input {
    background-color: transparent;
    border: none;
    margin: 0 auto;
    padding: 0.5rem;
}

input:focus {
    outline: none;
}


.search {
    background-color: #f9cba0b9;
    border-radius: 50px;
    margin: 3rem auto;
    padding: 0 1rem;
    width: 300px;
}

.search svg {
    position: relative;
    top: 0.2rem;
}